:root {
    --brand-color: #2196f3;
    --btn-hover: #188ce8;
    --main-color: #212121;
    --brand-color-2: #757575;
    --brand-color-3: #ffffff;
    --background-1: #2f303a;
    --foot-color: rgba(255, 255, 255, 0.6);
    --portfolio-bcg-color: #f5f4fa;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: var(--main-color);
}

a {
    text-decoration: none;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-style: Bold;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}

.logo-header-span {
    color: var(--main-color);
}

.center-nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
}

.right-nav {
    list-style: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.center-nav-link {
    color: var(--main-color);
}

.current {
    color: var(--brand-color);
}

.contact-link {
    color: var(--brand-color-2);
}

.center-nav-link:hover,
.contact-link:hover,
.contact-item-link:hover,
.post-address:hover,
.center-nav-link:focus,
.contact-link:focus,
.contact-item-link:focus,
.post-address:focus {
    color: var(--brand-color);
}

.order-service {
    background-color: var(--background-1);
}

.main-service {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--brand-color-3);
}

.btn {
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--brand-color-3);
}

.btn:hover,
.btn:focus {
    background-color: var(--btn-hover);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list,
.work-list,
.team-list,
.contacts,
.filters,
.projects {
    list-style: none;
}

.features-name {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.features-text {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--brand-color-2);
}

.work-title,
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.name-of-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.prof-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-2);
}

.address {
    font-style: normal;
    background-color: var(--background-1);
}

.logo-footer {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}

.logo-footer-span {
    color: var(--brand-color-3);
}

.post-address {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--brand-color-3);
}

.contact-item-link {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--foot-color);
}


/* portfolio css */

.portfolio-btn {
    color: var(--main-color);
    background-color: var(--portfolio-bcg-color);
    border-radius: 4px;
    border-style: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.current-btn {
    background-color: var(--brand-color);
    color: var(--brand-color-3);
}

.projects-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--brand-color-2);
}